<h2>
    <a href={{ url_for('view.article', post_id=item.post_id) }}>{{ item.title }}</a>
</h2>

<p class="base-info">
    {% if item.spider_name == 'wx' %}
        by <a href={{ url_for('view.category_wx', aid=item.aid ) }}>{{ item.source_name }}</a>&nbsp;&nbsp;
    {% else %}
        by <a href={{ url_for('view.category', kind=item.spider_name ) }}>{{ item.source_name }}</a>&nbsp;&nbsp;
    {% endif %}
    发布于 <span class="post_time"><b>{{ moment(timestamp=item.post_time, local=true).format('YYYY-MM-DD HH:mm:ss') }}</b></span>&nbsp;&nbsp;
    <span class="source_url"><a href={{ item.source_url }} target="_blank">阅读原文</a></span>
</p>
<hr>

{% if item.image != '' %}
    <img class="img-responsive" src={{ url_for('view.get_img', url=item.image) }} \
            width=400 height=200 alt="文章大图" align="center">
    <hr>
{% endif %}

<p>{{ item.summary }}</p>

<a class="btn btn-primary" href={{ url_for('view.article', post_id=item.post_id) }}>Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
<hr>