{% extends "bootstrap/base.html" %}
<!--head -->

    {%- block head %}
    {{ super() }}
    {{ moment.lang("zh-CN") }}
{#    {% block title %}Vaayne's Blog{% endblock title %}#}


    {%- block metas %}
        {{ super() }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
    {%- endblock metas %}


    {%- block styles %}
    <!-- Bootstrap Core CSS -->
        {{ super() }}
        <link rel="stylesheet" href={{ url_for('static',filename='css/bootstrap.css') }}>
{#        <link rel="stylesheet" href={{ url_for('static',filename='css/blog.css') }}>#}
    {%- endblock styles %}

    {%- endblock head %}



<!-- body -->

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

    {% block navbar %}
        <!-- Navigation -->
        {% include "includes/navbar.html" %}
    {%- endblock navbar %}


    {% block content -%}
            {% block content_title %}{% endblock %}
            {% include "includes/flash.html" %}
            {% block page_content %}{% endblock %}
    {%- endblock content %}


    {% block scripts %}
        <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
        <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
        {{ moment.include_moment() }}
    {%- endblock scripts %}


    {% block footer %}
        <div class="mastfoot" style="clear:both;text-align:center;">
            <div class="col-lg-12" >
                <p>当前时间{{ moment().format('YYYY-MM-DD h:mm:ss') }}</p>
                <a href='http://www.vaayne.com/'>Copyright &copy; Vaayne's Blog 2016</a>
                <br/>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255357982'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255357982%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    {% endblock %}

    {%- endblock body %}
  </body>