{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <!-- {% block title %} 主页 {% endblock %} -->
{% endblock %}


{% block content %}
 {{ super() }}
      <!-- Page Content -->
    <div class="container">

        <div class="center">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    最新文章
                    <small></small>
                </h1>
            {% for item in items %}
                <!-- Blog Post -->
                {% include 'includes/item.html' %}
                {% endfor %}

<nav>
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  <!--   <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li> -->
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
                <!-- Pager -->
              <!--   <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul> -->

            </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->

    </div>
    <!-- /.container -->

{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}







