{% extends 'base.html' %}

{% block title %} 搜索 {% endblock %}


{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% if items %}
        <h1>找到啦。。。</h1>
        <div class="col-lg-pull-7">
            <p>Hello</p>
            <ul>
                {% for item in items %}
                    <li><a href={{ url_for('view.category_wx', aid=item.wx_id) }}>{{ item.wx_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1>什么都没找到。。</h1>
    {% endif %}
    </div>

{% endblock %}